name: Trigger Render Deployment
on:
  push:
    branches:
      - main
jobs:
  main:
    name: Deploy to Render
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main #consider using pin for dependabot auto update

      - name: Create deployment
        uses: sws2apps/render-deployment@main #consider using pin for dependabot auto update
        with:
          serviceId: srv-d5pie5fgi27c73fob2bg
          apiKey: rnd_9b0pHtaPqrFHFn5IHlut5thd2cS7
          node-version: lts/Jod #optional
          cli-version: 2.2.0 #optional